#name {
    background-color: beige;
}
#confirm {
   background-color: beige;
}
#email {
background-color: beige;
}
#options {
background-color: beige;
}
#password {
background-color: beige;
}
#textarea {
background-color: beige;
opacity: 30%;
}